<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.system.mapper.SysMenuMapper">

    <resultMap type="com.yuan.system.domain.SysMenu" id="SysMenuResult">
    </resultMap>

    <select id="selectMenuListByUserId" resultMap="SysMenuResult">
        select distinct m.menu_id,
                        m.parent_id,
                        m.menu_name,
                        m.path,
                        m.component,
                        m.query_param,
                        m.visible,
                        m.status,
                        m.perms,
                        m.is_frame,
                        m.is_cache,
                        m.menu_type,
                        m.icon,
                        m.order_num,
                        m.create_time
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_user_role sur on rm.role_id = sur.role_id
                 left join sys_role ro on sur.role_id = ro.role_id
            ${ew.getCustomSqlSegment}
    </select>
    <select id="selectMenuListByRoleId" resultType="Long">
        select m.menu_id
        from sys_menu m
        left join sys_role_menu rm on m.menu_id = rm.menu_id
        where rm.role_id = #{roleId}
        <if test="menuCheckStrictly">
            and m.menu_id not in (select m.parent_id from sys_menu m inner join sys_role_menu rm on m.menu_id =
            rm.menu_id and rm.role_id = #{roleId})
        </if>
        order by m.parent_id, m.order_num
    </select>
    <select id="selectMenuListByRoleIds" resultType="java.lang.Long">
        select m.menu_id
        from sys_menu m
        left join sys_role_menu rm on m.menu_id = rm.menu_id
        where rm.role_id in
        <foreach collection="roleIds" open="(" separator="," close=")" index="roleId">
            #{roleId}
        </foreach>
        order by m.parent_id, m.order_num
    </select>
    <select id="selectSysMenuByRoleUser" resultType="com.yuan.system.domain.SysMenu">
        select distinct m.menu_id,
                        m.parent_id,
                        m.menu_name,
                        m.route_name,
                        m.path,
                        m.component,
                        m.query_param,
                        m.visible,
                        m.status,
                        m.perms,
                        m.is_frame,
                        m.is_cache,
                        m.menu_type,
                        m.icon,
                        m.order_num,
                        m.create_time
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_user_role sur on rm.role_id = sur.role_id
                 left join sys_role ro on sur.role_id = ro.role_id
        where sur.user_id = #{userId}
          and m.menu_type in ('M', 'C')
          and m.status = '0'
          and ro.status = '0'
        order by m.parent_id, m.order_num

    </select>
    <select id="selectMenuPermsByRoleUser" resultType="java.lang.String">
        select distinct m.perms
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_user_role sur on rm.role_id = sur.role_id
                 left join sys_role r on r.role_id = sur.role_id
        where m.status = '0'
          and r.status = '0'
          and sur.user_id = #{userId}
    </select>
    <select id="selectMenuTreeByScope" resultType="com.yuan.system.domain.SysMenu">
        select distinct m.*
        from sys_menu m
        where (m.scope = #{scope} or m.scope = 'BOTH') and m.status = '0'
    </select>
    <select id="selectMenuIdsByUserId" resultType="java.lang.Long">
        select distinct m.menu_id
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_user_role sur on rm.role_id = sur.role_id
                 left join sys_role r on r.role_id = sur.role_id
        where m.status = '0'
          and r.status = '0'
          and sur.user_id = #{userId}
    </select>
    <select id="selectScopesBymenuIds" resultType="java.lang.String">
        select distinct m.scope
        from sys_menu m
        where m.menu_id in
        <foreach collection="menuIds" item="menuId"  open="("  separator="," close=")">
            #{menuId}
        </foreach>
    </select>
    <select id="selectSysMenuByPostUser" resultType="com.yuan.system.domain.SysMenu">
        select distinct m.menu_id,
                        m.parent_id,
                        m.menu_name,
                        m.route_name,
                        m.path,
                        m.component,
                        m.query_param,
                        m.visible,
                        m.status,
                        m.perms,
                        m.is_frame,
                        m.is_cache,
                        m.menu_type,
                        m.icon,
                        m.order_num,
                        m.create_time
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_role_post srp on srp.role_id = rm.role_id
                 left join sys_user_post sup on sup.post_id = srp.post_id
                 left join sys_role ro on srp.role_id = ro.role_id
        where sup.user_id = #{userId}
          and m.menu_type in ('M', 'C')
          and m.status = '0'
          and ro.status = '0'
        order by m.parent_id, m.order_num
    </select>
    <select id="selectMenuPermsByPostUser" resultType="java.lang.String">
        select distinct m.perms
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_role_post srp on srp.role_id = rm.role_id
                 left join sys_user_post sup on sup.post_id = srp.post_id
                 left join sys_role ro on srp.role_id = ro.role_id
                 left join sys_user u on sup.user_id = u.user_id
                 left join sys_post sp on sp.post_id = sup.post_id
        where u.user_id = #{userId}
          and m.status = '0'
          and ro.status = '0'
          and sp.status = '0'
    </select>
</mapper>
