<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.system.mapper.SysRoleMapper">
    <resultMap type="com.yuan.system.domain.vo.SysRoleVo" id="SysRoleResult">
    </resultMap>

    <sql id="selectRoleVo">
        select distinct r.role_id,
                        r.role_name,
                        r.role_key,
                        r.role_sort,
                        r.data_scope,
                        r.menu_check_strictly,
                        r.dept_check_strictly,
                        r.status,
                        r.del_flag,
                        r.create_time,
                        r.remark
        FROM sys_user u
                left JOIN sys_role_post srp on srp.post_id = u.primary_post_id
                left JOIN sys_role r on  r.role_id = srp.role_id
    </sql>

    <select id="selectRolesByUserId" parameterType="long" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        WHERE r.del_flag = '0' and u.user_id = #{userId}
    </select>
    <select id="selectAllocatedUserList" resultType="com.yuan.system.domain.vo.SysUserVo">
        SELECT
            u.user_id,
            u.user_name,
            u.nick_name,
            u.email,
            u.phonenumber,
            u.status,
            u.create_time,
            sp.post_name,
            sd.dept_name
        FROM sys_user u
                 join (
                     -- 用户直授的角色
                     select su.user_id
                       from sys_user su
                       join sys_user_role sur on sur.user_id = su.user_id
                       where sur.role_id = #{roleId}

                     UNION

                     -- 用户岗位
                     select su.user_id
                     from sys_user su
                              join sys_user_post sup on sup.user_id = su.user_id
                              join sys_role_post srp on srp.post_id = sup.post_id
                     where srp.role_id = #{roleId}

                    ) as un on un.user_id = u.user_id
                 left join sys_post sp on sp.post_id = u.primary_post_id
                 left join sys_dept sd on sd.dept_id = sp.dept_id
         ${ew.getCustomSqlSegment}
    </select>

    <select id="selectRolesByRoleKey" resultType="com.yuan.system.domain.SysRole">
        select *
        from sys_role
        where role_key = #{roleKey} and tenant_id = #{tenantId} and del_flag = '0'
    </select>
    <select id="selectRoleList" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        ${ew.getCustomSqlSegment}
    </select>
    <select id="selectRoleIdsByUserId" resultType="java.lang.Long">
        select distinct r.role_id
        FROM sys_user u
                 left JOIN sys_role_post srp on srp.post_id = u.primary_post_id
                 left JOIN sys_role r on  r.role_id = srp.role_id
                 left JOIN sys_dept sd ON sd.dept_id = sr.dept_id
        WHERE r.del_flag = '0' and u.user_id = #{userId}
    </select>
    <select id="selectRoleVoByPostUser" resultType="com.yuan.system.domain.vo.SysRoleVo">
        select distinct
            r.*
        FROM sys_user u
                 join sys_user_post sup on sup.user_id = u.user_id
                 join sys_role_post srp on srp.post_id = sup.post_id
                 join sys_role r on  r.role_id = srp.role_id
        WHERE
            r.del_flag = '0'
          and u.user_id = #{userId}
    </select>
    <select id="selectRoleVoByRoleUser" resultType="com.yuan.system.domain.vo.SysRoleVo">
        select distinct
            r.*
        FROM sys_user u
                 join sys_user_role sur on sur.user_id = u.user_id
                 join sys_role r on  r.role_id = sur.role_id
        WHERE
            r.del_flag = '0'
          and u.user_id = #{userId}
    </select>
    <select id="sysRoleSelect" resultType="com.yuan.common.core.domain.model.SelectModel">
        select distinct
            sr.role_name as label,
            sr.role_id as value
        from sys_role sr
        where sr.status = '0' and sr.del_flag = '0'
    </select>
</mapper>
