<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.workflow.mapper.WfNodeInstanceMapper">

    <update id="finishAll">
        UPDATE wf_node_instance
        SET status = #{status}
        WHERE instance_id = #{instanceId}
          AND status = 'WAIT';
    </update>
    <select id="nextOrderNo" resultType="java.lang.Integer">
        select max(orderNo)+1
        from wf_node_instance
        WHERE instance_id = #{instanceId}
    </select>
</mapper>
