<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.workflow.mapper.WfNodeInstanceMapper">

    <update id="finishAll">
        UPDATE wf_node_instance
        SET status = #{status}
        WHERE instance_id = #{instanceId}
          AND status = 'WAIT';
    </update>
    <select id="nextOrderNo" resultType="java.lang.Integer">
        SELECT COALESCE(MAX(order_no), 0) + 1
        FROM wf_node_instance
        WHERE instance_id = #{instanceId}
    </select>
    <select id="selectVoByInstanceId" resultType="com.yuan.workflow.domain.vo.WfNodeInstanceVo">
        select wni.*
        from wf_node_instance wni
        where wni.instance_id = #{instanceId}
        order by wni.order_no desc
    </select>
</mapper>
