<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.workflow.mapper.WfTaskMapper">

    <update id="finishAll">
        UPDATE wf_task
        SET status = #{status},
            finish_time = NOW()
        WHERE instance_id = #{instanceId}
          AND status = 'TODO';
    </update>


    <update id="cancelOtherTodoTasks">
        UPDATE wf_task
        SET
            status = #{canceledStatus},
            finish_time = NOW()
        WHERE node_instance_id = #{nodeInstanceId}
          AND id != #{keepTaskId}
          AND status = #{todoStatus}
    </update>
    <select id="countTodoByNode" resultType="java.lang.Integer">

    </select>


</mapper>
